<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springsandbox.mapper.AttendanceMapper">
    <select id="getAttendanceByEmployeeId" parameterType="Integer"
            resultType="com.example.springsandbox.entity.Attendance">
        select *
        from attendance
        where employee_id = #{employeeId};
    </select>
    <insert id="registrationAttendance" parameterType="com.example.springsandbox.entity.Attendance">
        insert into attendance (employee_id, date, start_time, end_time, break_time, late_time, leave_early_time, memo)
        values (#{employeeId}, #{date}, #{startTime}, #{endTime}, #{breakTime}, #{lateTime}, #{leaveEarlyTime}, #{memo});
    </insert>
</mapper>
