<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_fragment :: common_header(~{::title}, ~{})">
    <meta charset="UTF-8">
    <title>勤怠管理システム - 部署登録</title>
</head>
<body>
<nav th:replace="common/common_fragment :: common_nav('department_nav')">
</nav>

<section class="section">
    <div class="container">
        <h2 class="title is-2">部署登録</h2>
        <form action="/department" method="POST">
            <div class="field">
                <label class="label">部署名</label>
                <div class="control">
                    <input class="input" name="departmentName" required type="text">
                </div>
            </div>
            <div class="field">
                <label class="label">部署番号</label>
                <div class="control">
                    <input class="input" name="departmentNumber" required type="text">
                </div>
            </div>

            <label class="label">上司の名前</label>
            <div class="control">
                <div class="select">
                    <select name="supervisorName" required>
                        <option value="">選択してください</option>
                        <option th:each="employees : ${employees}" th:text="${employees.name}"
                                th:value="${employees.name}"></option>
                    </select>
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link" type="submit">登録</button>
                </div>
                <div class="control">
                    <a class="button is-text" href="/department">キャンセル</a>
                </div>
            </div>
        </form>
    </div>
</section>

<footer th:replace="common/common_fragment::common_footer"></footer>
</body>
</html>