<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>勤怠管理システム - 部署一覧</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <h1 class="title is-4">勤怠管理システム</h1>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                ホーム
            </a>

            <a class="navbar-item" href="/attendance">
                勤怠入力
            </a>

            <a class="navbar-item" href="/employee">
                従業員一覧
            </a>

            <a class="navbar-item is-active" href="/department">
                部署一覧
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="#">
                        <strong>ログイン</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<section class="section">
    <div class="container">
        <h2 class="title is-2">部署一覧</h2>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>部署名</th>
                <th>部署番号</th>
                <th>上司の名前</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="department : ${departments}" th:data-id="${department.id}" class="department-row">
                <td th:text="${department.id}"></td>
                <td th:text="${department.departmentName}"></td>
                <td th:text="${department.departmentNumber}"></td>
                <td th:text="${department.supervisorName}"></td>

            </tr>
            </tbody>
        </table>
    </div>
</section>

<footer class="footer">
    <div class="content has-text-centered">
        <p>&copy; 2023 勤怠管理システム</p>
    </div>
</footer>

<script>
    // ナビゲーションバーアイテムの開閉
    document
        .addEventListener('DOMContentLoaded', () => {
            // クリックイベントでメニューを開閉
            const $navbarBurgers = Array.prototype.slice.call
            (document.querySelectorAll('.navbar-burger'), 0);
            if ($navbarBurgers.length > 0) {
                $navbarBurgers.forEach($el => {
                    $el.addEventListener('click', () => {
                        const target = $el.dataset.target;
                        const $target = document.getElementById(target);
                        $el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');
                    });
                });
            }
            // 従業員一覧の行をクリックして従業員情報ページに遷移
            const $departmentRows = Array.prototype.slice.call(document.querySelectorAll('.department-row'), 0);
            if ($departmentRows.length > 0) {
                $departmentRows.forEach($el => {
                    $el.addEventListener('click', () => {
                        const departmentId = $el.getAttribute('data-id');
                        window.location.href = '/department/' + departmentId;
                    });
                });
            }
        });
</script>
</body>
</html>
