<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_fragment :: common_header(~{::title}, ~{})">
    <meta charset="UTF-8">
    <title>勤怠管理システム - 部署一覧</title>
</head>
<body>
<nav th:replace="common/common_fragment :: common_nav('department_nav')">
</nav>

<section class="section">
    <div class="container">
        <h2 class="title is-2">部署一覧</h2>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>部署名</th>
                <th>部署番号</th>
                <th>上司の名前</th>
            </tr>
            </thead>
            <tbody>
            <tr class="department-row" th:data-id="${department.id}" th:each="department : ${departments}">
                <td th:text="${department.id}"></td>
                <td th:text="${department.departmentName}"></td>
                <td th:text="${department.departmentNumber}"></td>
                <td th:text="${department.supervisorName}"></td>
            </tr>
            </tbody>
        </table>
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link" onclick="location.href='department/new'" type="button">部署追加</button>
            </div>
        </div>
    </div>
</section>

<footer th:replace="common/common_fragment::common_footer"></footer>
<script>
    document
        .addEventListener('DOMContentLoaded', () => {
            addDetailLinkToRow('.department-row', '/department')
        });
</script>
</body>
</html>
