<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_fragment :: common_header(~{::title}, ~{})">
    <meta charset="UTF-8">
    <title>勤怠管理システム - ログイン</title>
</head>
<body>
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <h1 class="title">ログイン</h1>
                    <form th:action="@{/login}" method="post">
                        <div class="field">
                            <label class="label">ユーザ名</label>
                            <div class="control has-icons-left">
                                <span class="icon is-small is-left">
                                    <i class="mdi mdi-account"></i>
                                </span>
                                <input class="input" type="text" placeholder="ユーザ名" name="username">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">パスワード</label>
                            <div class="control has-icons-left">
                                <span class="icon is-small is-left">
                                    <span class="mdi mdi-lock"></span>
                                </span>
                                <input class="input" type="password" placeholder="パスワード" name="password">
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <div class="control">
                                <button type="submit" class="button is-link">ログイン</button>
                            </div>
                        </div>
                    </form>
                    <div th:if="${param.error}">
                        Invalid username and password.
                    </div>
                    <div th:if="${param.logout}">
                        You have been logged out.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--<footer th:replace="common/common_fragment :: common_footer()"></footer>-->
</body>
</html>
