<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_fragment :: common_header(~{::title}, ~{})">
    <meta charset="UTF-8">
    <title>勤怠管理システム</title>
</head>
<body>
<nav th:replace="common/common_fragment :: common_nav('home_nav')">
</nav>

<section class="section">
    <div class="container">
        <h2 class="title is-2">ホーム</h2>
        <p>ようこそ、勤怠管理システムへ！</p>
        <p>このシステムは、社員の勤怠管理を簡単かつ効率的に行うことができるシステムです。</p>
        <p>ログインして、勤怠情報の入力や確認を行いましょう。</p>
    </div>
</section>

<footer th:replace="common/common_fragment::common_footer"></footer>
</body>
</html>
