<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_fragment :: common_header(~{::title}, ~{})">
    <meta charset="UTF-8">
    <title>勤怠管理システム - 従業員情報</title>
</head>
<body>
<nav th:replace="common/common_fragment :: common_nav('employee_nav')">
</nav>

<section class="section">
    <div class="container">
        <h2 class="title is-2">従業員情報</h2>
        <table class="table">
            <tbody>
            <tr>
                <th>社員番号</th>
                <td th:text="${employee.id}"></td>
            </tr>
            <tr>
                <th>名前</th>
                <td th:text="${employee.name}"></td>
            </tr>
            <tr>
                <th>住所</th>
                <td th:text="${employee.address}"></td>
            </tr>
            <tr>
                <th>メールアドレス</th>
                <td th:text="${employee.email}"></td>
            </tr>
            <tr>
                <th>電話番号</th>
                <td th:text="${employee.phoneNumber}"></td>
            </tr>
            <tr>
                <th>所属部署</th>
                <td th:text="${employee.departmentName}"></td>
            </tr>
            </tbody>
        </table>
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link" th:onclick="|location.href='${employee.id}/update'|" type="button">
                    従業員情報更新
                </button>
            </div>
        </div>
    </div>
</section>

<footer th:replace="common/common_fragment::common_footer"></footer>
</body>
</html>
