<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_fragment :: common_header(~{::title}, ~{})">
    <meta charset="UTF-8">
    <title>勤怠管理システム - 従業員更新</title>
</head>
<body>
<nav th:replace="common/common_fragment :: common_nav('employee_nav')">
</nav>

<section class="section">
    <div class="container">
        <h2 class="title is-2">現在の従業員情報</h2>
        <table class="table">
            <tbody>
            <tr>
                <th>社員番号</th>
                <td th:text="${employee.id}"></td>
            </tr>
            <tr>
                <th>名前</th>
                <td th:text="${employee.name}"></td>
            </tr>
            <tr>
                <th>住所</th>
                <td th:text="${employee.address}"></td>
            </tr>
            <tr>
                <th>メールアドレス</th>
                <td th:text="${employee.email}"></td>
            </tr>
            <tr>
                <th>電話番号</th>
                <td th:text="${employee.phoneNumber}"></td>
            </tr>
            <tr>
                <th>所属部署</th>
                <td th:text="${employee.departmentName}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div class="container">
        <h2 class="title is-2">更新後の従業員情報</h2>
        <form action="#" method="POST" th:action="@{'/employee/' + ${employee.id}}">
            <input name="id" th:value="${employee.id}" type="hidden"/>
            <div class="field">
                <label class="label">氏名</label>
                <div class="control">
                    <input class="input" name="name" required th:value="${employee.name}" type="text">
                </div>
            </div>
            <div class="field">
                <label class="label">住所</label>
                <div class="control">
                    <input class="input" name="address" required th:value="${employee.address}"
                           type="text">
                </div>
            </div>
            <div class="field">
                <label class="label">メールアドレス</label>
                <div class="control">
                    <input class="input" name="email" required th:value="${employee.email}"
                           type="text">
                </div>
            </div>
            <div class="field">
                <label class="label">電話番号</label>
                <div class="control">
                    <input class="input" name="phoneNumber" required th:value="${employee.phoneNumber}"
                           type="text">
                </div>
            </div>

            <label class="label">所属部署</label>
            <div class="control">
                <div class="select">
                    <select name="departmentId" required>
                        <option value="">選択してください</option>
                        <option th:each="department : ${departments}"
                                th:selected="${department.id == employee.departmentId}"
                                th:text="${department.departmentName}"
                                th:value="${department.id}">
                        </option>
                    </select>
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link" type="submit">更新</button>
                </div>
                <div class="control">
                    <a class="button is-text" href="/employee">キャンセル</a>
                </div>
            </div>
        </form>
    </div>
</section>

<footer th:replace="common/common_fragment::common_footer"></footer>
</body>
</html>
